<h2>
    {{ title }}
</h2>
<div class="errorMessage" *ngIf="errorMessage">
    <h2> {{ errorMessage }}</h2>
</div>

<div class="right">
    <p> {{ productNumber }} products</p>
</div>

<ng-template #loading>
    <h4 class="loading">Loading</h4>
</ng-template>

<fieldset>
    sort by
    <button (click)="sortList('price')">Price</button>
    <button (click)="sortList('name')">Name</button>
    <button (click)="sortList('modifiedDate')">Date</button>
</fieldset>


<ul class="products" *ngIf="products$ | async as products; else loading">
    <li *ngFor="let product of products | orderBy:[sorter] | slice:start:end" [class.discontinued]="product.discontinued"
        [class.selected]="product === selectedProduct" (click)="onSelect(product)">
        <span class="name"> {{ product.name | uppercase }}</span>
        <span class="description"> {{ product.description }}</span>
        <span class="price"> {{ product.price | currency:"CAD":'symbol':'.2'}}</span>
    </li>
</ul>

<div class="right">
    <a routerLink="insert" routerLinkActive='active'>New</a>
</div>
<div>
    <button [disabled]="start === 0" (click)="previousPage()">
        Previous Page
    </button> 
    <span>page {{currentPage}}</span>
    <button (click)="nextPage()" [disabled]="end>=productNumber">
            Next Page
    </button>
</div>