<h1>
  Angular Store
</h1>

<nav>
  <a routerLink="/home" routerLinkActive='active'>Home</a>
  <a routerLink="/products" routerLinkActive='active'>Products</a>
  <a routerLink="/admin" routerLinkActive='active'>Admin</a>
  <a routerLink="/contact" routerLinkActive='active'>Contact</a>
</nav>

<router-outlet></router-outlet>

<footer>
  <hr />
  Copyright Sofiane 2020
</footer>