<ng-template #noproduct>
    <h2>no product</h2>
</ng-template>
<div *ngIf="product; else noproduct">
    <h2>{{product.name | uppercase}}</h2>
    <img style="float:right" [src]="product.imageUrl" *ngIf="product.imageUrl" width="250" />
    <h3>{{product.description}}</h3>
    <p>Price: {{product.price | currency:'CAD':'symbol-narrow':'.2'}}</p>
    <p>Edit Prix :
        <input [disabled]="product.fixedPrice" type="number" [(ngModel)]="product.price">
    </p>
    <p>Fixed price
        <input type="checkbox" [(ngModel)]="product.fixedPrice">
    </p>
    <p>Discontinued
        <input type="checkbox" [(ngModel)]="product.discontinued">
    </p>
    <p>Modified date:
        {{product.modifiedDate | date}}</p>

    <p>
        <button (click)="delete(product.id)">Delete</button>
    </p>
</div>